*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(../img/VCLogo.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: auto;
}
section{
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    
}
#aviso{
    height: 10px;
    margin: 20px;
}

form{
    width: 450px;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 25px;
    font-weight: bold;
    color: #4895af;
    backdrop-filter: blur(4px);
    
}
#submit{
    width: 120px;
    height: 30px;
    border: 1px solid #828fc9;
    border-radius: 5px;
    background-color:#4895af;
    color: white;
    font-weight: bold;
    cursor:pointer;
}

#submit:active{
    background-color: #4384b3;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
}